.footer {
  padding-bottom: 50px;

  @media (min-width: 641px) {
    padding-bottom: 100px;
  }

  @media (max-width: 980px) {
    max-width: 690px;
    margin: 0 auto;
  }

  .footer__top {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    color: rgba(255, 255, 255, 1);

    @media (max-width: 980px) {
      flex-direction: column;
      gap: 60px;
      margin-bottom: 60px;

      .footer__menu {
        display: none;
      }
    }
  }

  .footer__copyright {
    display: flex;
    gap: 110px;

    a {
      transition: all 0.4s;
      color: #fff;
    }

    @media (max-width: 980px) {
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }

    @media (max-width: 640px) {
      font-size: 10px;
      line-height: 11.57px;
    }
  }

  .footer__title {
    font-family: Play;
    font-size: 36px;
    font-weight: 700;
    line-height: 41.65px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 36px;
    display: block;

    @media (max-width: 980px) {
      text-align: center;
    }

    @media (max-width: 640px) {
      font-size: 32px;
      line-height: 37.02px;
      margin-bottom: 25px;
    }
  }

  .footer__link {
    margin-bottom: 30px;
    font-family: "Play";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    a {
      transition: all 0.4s;
      color: #ffffff;
    }
  }

  .footer__phone,
  .footer__email,
  .footer__link,
  .footer__copyright {
    &:hover a {
      text-shadow: 0px 0px 20px rgba(215, 149, 255, 1),
        0px 0px 4px rgba(215, 149, 255, 1);
      color: #ffffff;
    }
  }

  .footer__contacts {
    p {
      margin-bottom: 15px;
      font-family: "Play";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: #dddddd;

      @media (max-width: 980px) {
        max-width: 297px;
        color: #ddd;
        margin: 0 auto 15px;
        width: 100%;
      }
    }
    a {
      color: #dddddd;
      transition: all 0.4s;
    }

    .footer__email {
      text-decoration: underline;
    }
  }

  .footer__social-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    gap: 30px;

    svg {
      transition: all 0.4s;
    }

    svg:hover {
      filter: drop-shadow(0 0 24px rgb(241, 219, 255));
    }

    &-mobile {
      display: none;
    }

    @media (max-width: 980px) {
      display: none;
      &-mobile {
        display: flex;
        margin: 40px auto 20px;
        justify-content: center;
      }
    }
  }

  .footer__map {
    width: 40%;
    box-shadow: 0px 0px 10px 0px rgba(215, 149, 255, 1),
      0px 0px 30px 0px rgba(215, 149, 255, 1);
    border-radius: 15px;
    aspect-ratio: 522.56 / 346;
    overflow: hidden;

    border: 2px solid transparent;
    background: linear-gradient(#745ebf, #745ebf) padding-box,
      linear-gradient(176.42deg, #b195ff -126.75%, #d795ff 97.05%) border-box;

    @media (max-width: 980px) {
      width: 100%;
    }

    picture {
      height: 100%;

      img {
        object-fit: cover;
      }
    }
  }

  .footer__dev {
    max-width: 226px;

    &-mobile {
      display: none;
      @media (max-width: 980px) {
        display: flex;
        text-align: center;
        margin: 35px auto;
        justify-content: center;
      }
    }

    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
