#call-form {
  border-radius: 32px;
  display: none;
  width: 100%;
  max-width: 453px;
  padding: 44px 39px;

  background: linear-gradient(rgba(99, 71, 135, 1), rgba(99, 71, 135, 1))
      padding-box,
    linear-gradient(93deg, #383fec 49.3%, #23ffff 87.76%) border-box;
  border: 2px solid transparent;

  @media (max-width: 640px) {
    padding: 44px 20px;
  }

  .title-form {
    font-family: Play;
    font-size: 32px;
    font-weight: 700;
    line-height: 46.8px;
    text-align: center;
    margin-bottom: 17px;

    @media (max-width: 640px) {
      font-size: 24px;
      line-height: normal;
    }
  }

  .subtitle-form {
    font-family: Play;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;
    margin-bottom: 17px;
  }

  .input-form {
    padding: 17px 21px;
    font-family: Play;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.5px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(93deg, #383fec 49.3%, #23ffff 87.76%) border-box;
    border: 1px solid transparent;
    margin-bottom: 17px;
  }

  .main-button {
    margin: 0 auto 17px;
  }

  label {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 5px;

    input {
      display: none;
    }

    input:checked + .checkbox__form-label {
      border: 1px solid #fff;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjYiIHZpZXdCb3g9IjAgMCA4IDYiIGZpbGw9Im5vbmUiPg0KPHBhdGggZD0iTTYuMjY1NTggMC4zNjU1OTVDNi40NTYwNyAwLjE1NTU5NSA2Ljc3MTcxIDAuMTE2OTY3IDcuMDA3MjIgMC4yNzQ4MzJDNy4yNzYzNiAwLjQ1NTI0MiA3LjM0MTg5IDAuODIzMDY2IDcuMTUxNiAxLjA4NTMyTDMuODUzMDIgNS42MzE1MUMzLjY4NTA3IDUuODYyOTkgMy40MTYzOSA2IDMuMTMwNCA2QzIuODQ4NzUgNiAyLjU4MzYxIDUuODY3MSAyLjQxNTA3IDUuNjQxNDRMMC44NjY4NjggMy41Njg0N0MwLjY1OTMxNiAzLjI5MDU3IDAuNjk4NzQ3IDIuOTAwMSAwLjk1NzY3IDIuNjY5M0MxLjIxMTMxIDIuNDQzMjEgMS41OTQxOCAyLjQ0MzMyIDEuODQ3NyAyLjY2OTU0TDMuMTM0MjYgMy44MTc2TDYuMjY1NTggMC4zNjU1OTVaIiBmaWxsPSJ3aGl0ZSIvPg0KPC9zdmc+);
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
    }

    .checkbox__form-label {
      display: block;
      border: 1px solid #fff;
      border-radius: 3px;
      width: 12px;
      height: 12px;
      background: transparent;
      position: relative;
    }

    .policy {
      font-family: Play;
      font-size: 10px;
      font-weight: 400;
      line-height: 15px;
      text-align: center;

      b {
        font-weight: 400;
        text-decoration: underline;
      }
    }
  }
}

#success-form {
  border-radius: 20px;
  display: none;
  width: 100%;
  max-width: 453px;
  padding: 24px;

  background: linear-gradient(rgba(99, 71, 135, 1), rgba(99, 71, 135, 1))
      padding-box,
    linear-gradient(93deg, #383fec 49.3%, #23ffff 87.76%) border-box;
  border: 2px solid transparent;

  .form-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__img {
      max-width: calc(89px + 30px);
      aspect-ratio: 1/1;
      width: 100%;

      @media (max-width: 640px) {
        max-width: calc(75px + 20px);
      }
    }

    p {
      font-family: Play;
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -0.035em;
      text-align: center;

      @media (max-width: 640px) {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

.fancybox-bg {
  background: #1e1e1ea3 !important;
}
