<section class="benefit">
  <div class="container">
    <h2 class="page__subtitle caps">КОМУ ПОЛЕЗНА CRM</h2>
    <div class="benefit-wrapper">
      <div class="benefit-wrapper__content">
        <ul>
          <li>
            Любому бизнесу, работающему <br />
            с клиентской базой
          </li>
          <li>Бизнесу, управляющему ассортиментом</li>
          <li>
            Бизнесу, где есть задачи, планирование, <br />
            отчетность и KPI
          </li>
        </ul>
      </div>
      <div class="benefit-wrapper__img img-wrap">
        <picture>
          <source
            class="lazy"
            data-src="images/benefit-img.webp"
            type="image/webp"
          />
          <img class="lazy" data-src="images/benefit-img.png" alt="CRM" />
        </picture>
      </div>
    </div>
  </div>
</section>
