<section class="busines">
  <div class="container">
    <h2 class="page__subtitle caps">CRM В БИЗНЕСЕ</h2>
    <p class="page__aftertitle">Наши кейсы</p>

    <div class="busines-wrapper">
      <div class="busines-item">
        <div class="busines-item__img">
          <div class="img-wrap">
            <picture>
              <source
                data-srcset="images/busines-1.webp"
                type="image/webp"
                media="(min-width: 641px)"
              />
              <source
                data-srcset="images/busines-1.png"
                media="(min-width: 641px)"
              />
              <source
                class="lazy"
                data-src="images/busines-1-mobile.webp"
                type="image/webp"
                media="(max-width: 640px)"
              />
              <img
                class="lazy"
                data-src="images/busines-1-mobile.png"
                alt="Пестовский Лесокомбинат"
              />
            </picture>
          </div>
        </div>

        <div class="busines-item__content">
          <p class="content-title">“Пестовский Лесокомбинат”</p>

          <p class="content-subtitle">Строительная компания</p>
          <p class="content-descr">Работают на платформе amoCRM</p>

          <div class="content-button busines-button">Подробнее</div>
        </div>
      </div>

      <div class="busines-item">
        <div class="busines-item__img">
          <div class="img-wrap">
            <picture>
              <source
                data-srcset="images/busines-2.webp"
                type="image/webp"
                media="(min-width: 641px)"
              />
              <source
                data-srcset="images/busines-2.png"
                media="(min-width: 641px)"
              />
              <source
                class="lazy"
                data-src="images/busines-2-mobile.webp"
                type="image/webp"
                media="(max-width: 640px)"
              />
              <img
                class="lazy"
                data-src="images/busines-2-mobile.png"
                alt="Пестовский Лесокомбинат"
              />
            </picture>
          </div>
        </div>

        <div class="busines-item__content">
          <p class="content-title">Магазин “Mongol Store”</p>

          <p class="content-subtitle">Одежда из натуральной шерсти</p>
          <p class="content-descr">Используют БитриксCRM</p>

          <div class="content-button busines-button">Подробнее</div>
        </div>
      </div>
    </div>
  </div>
</section>
