<section class="call">
  <div class="container">
    <div class="call-wrapper">
      <div class="call-wrapper__content">
        <h2 class="content-title">Напишите нам!</h2>
        <p class="content-descr">
          Заполните заявку и Мы свяжемся с Вами в течение 15 минут
        </p>
        <p class="content-bottom">Команда Alpha marketing</p>
      </div>
      <div class="call-wrapper__form">
        <input
          class="input-form"
          type="text"
          name="name"
          autocomplete="off"
          placeholder="Имя*"
          required
        />
        <input
          class="input-form"
          type="email"
          name="email"
          autocomplete="off"
          placeholder="@Почта*"
          required
        />
        <input
          class="input-form"
          type="text"
          name="phone"
          autocomplete="off"
          placeholder="+7 (___) ___ - __ - __"
        />

        <textarea
          class="input-form"
          rows="7"
          name="text"
          placeholder="Задать вопрос"
        ></textarea>

        <div class="form-button main-button">задать вопрос</div>
      </div>
    </div>
  </div>
</section>
