<section class="coast">
  <div class="container">
    <h2 class="page__subtitle caps">СТОИМОСТЬ ПОДКЛЮЧЕНИЯ</h2>

    <div class="coast-wrapper">
      <div class="coast-item">
        <div>
          <div class="coast-item__title">
            <p>Подключение системы CRM</p>
            <span>от 10 000 ₽</span>
          </div>
          <ul class="coast-item__list">
            <li>Покупка любого тарифа со скидкой</li>
          </ul>
        </div>
        <a href="#call-form" class="coast-item__button main-button fancybox">
          ЗАКАЗАТЬ
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            viewBox="0 0 22 22"
            fill="none"
          >
            <path
              d="M21 0.514648L1 20.5146M21 0.514648C18.907 1.5224 11.265 3.27287 4.48837 0.747207M21 0.514648C19.9922 4.15806 18.5814 12.7007 21 17.7239"
              stroke="#E9DEFF"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>

      <div class="coast-item">
        <div>
          <div class="coast-item__title">
            <p>Подключение системы CRM + настройка</p>
            <span>от 15 000 ₽</span>
          </div>
          <ul class="coast-item__list">
            <li>Покупка любого тарифа со скидкой</li>
            <li>Индивидуальная настройка системы</li>
          </ul>
        </div>
        <a href="#call-form" class="coast-item__button main-button fancybox">
          ЗАКАЗАТЬ
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            viewBox="0 0 22 22"
            fill="none"
          >
            <path
              d="M21 0.514648L1 20.5146M21 0.514648C18.907 1.5224 11.265 3.27287 4.48837 0.747207M21 0.514648C19.9922 4.15806 18.5814 12.7007 21 17.7239"
              stroke="#E9DEFF"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>

      <div class="coast-item">
        <div>
          <div class="coast-item__title">
            <p>
              Продление лицензий <br />
              amoCRM и Битрикс24
            </p>
            <span>от 10 000 ₽</span>
          </div>
          <ul class="coast-item__list">
            <li>
              Возможность продления лицензий со скидкой от официальных цен
            </li>
          </ul>
        </div>
        <a href="#call-form" class="coast-item__button main-button fancybox">
          ЗАКАЗАТЬ
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            viewBox="0 0 22 22"
            fill="none"
          >
            <path
              d="M21 0.514648L1 20.5146M21 0.514648C18.907 1.5224 11.265 3.27287 4.48837 0.747207M21 0.514648C19.9922 4.15806 18.5814 12.7007 21 17.7239"
              stroke="#E9DEFF"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
