<section class="features">
  <div class="container">
    <h2 class="page__subtitle nocaps">
      Управление <br />
      бизнес-процессами
    </h2>
    <div class="features-wrapper">
      <div class="features-item">
        <div class="features-item__img img-wrap">
          <picture>
            <source
              class="lazy"
              data-src="images/features-1.webp"
              type="image/webp"
            />
            <img class="lazy" data-src="images/features-1.png" alt="Удобное" />
          </picture>
        </div>
        <div class="features-item__title">
          Удобное общение <br />
          с заказчиками
        </div>
      </div>

      <div class="features-item">
        <div class="features-item__img img-wrap">
          <picture>
            <source
              class="lazy"
              data-src="images/features-2.webp"
              type="image/webp"
            />
            <img class="lazy" data-src="images/features-2.png" alt="Лучшие" />
          </picture>
        </div>
        <div class="features-item__title">
          Лучшие <br />
          CRM-системы
        </div>
      </div>

      <div class="features-item">
        <div class="features-item__img img-wrap">
          <picture>
            <source
              class="lazy"
              data-src="images/features-3.webp"
              type="image/webp"
            />
            <img
              class="lazy"
              data-src="images/features-3.png"
              alt="Повышение"
            />
          </picture>
        </div>
        <div class="features-item__title">
          Повышение эффективности <br />
          отдела продаж
        </div>
      </div>

      <div class="features-item">
        <div class="features-item__img img-wrap">
          <picture>
            <source
              class="lazy"
              data-src="images/features-4.webp"
              type="image/webp"
            />
            <img class="lazy" data-src="images/features-4.png" alt="Карточка" />
          </picture>
        </div>
        <div class="features-item__title">
          Карточка с историей событий для каждого заказчика
        </div>
      </div>
    </div>
  </div>
</section>
