<section class="function">
  <div class="container">
    <div class="function-wrapper">
      <div class="function-item">
        <div class="function-item__img img-wrap">
          <picture>
            <source
              data-srcset="images/function-1.webp"
              type="image/webp"
              media="(min-width: 641px)"
            />
            <source
              data-srcset="images/function-1.png"
              media="(min-width: 641px)"
            />
            <source
              class="lazy"
              data-src="images/function-1-mobile.webp"
              type="image/webp"
              media="(max-width: 640px)"
            />
            <img
              class="lazy"
              data-src="images/function-1-mobile.png"
              alt="amocrm"
            />
          </picture>
        </div>

        <div class="function-item__content">
          <p class="content-title">Функции:</p>

          <ul class="content-list">
            <li>CRM</li>

            <li>Интеграция с другими сервисами</li>

            <li>Онлайн-бот</li>
          </ul>
        </div>
      </div>

      <div class="function-item">
        <div class="function-item__img img-wrap">
          <picture>
            <source
              data-srcset="images/function-2.webp"
              type="image/webp"
              media="(min-width: 641px)"
            />
            <source
              data-srcset="images/function-2.png"
              media="(min-width: 641px)"
            />
            <source
              class="lazy"
              data-src="images/function-2-mobile.webp"
              type="image/webp"
              media="(max-width: 640px)"
            />
            <img
              class="lazy"
              data-src="images/function-2-mobile.png"
              alt="битрикс"
            />
          </picture>
        </div>

        <div class="function-item__content">
          <p class="content-title">Функции:</p>

          <ul class="content-list">
            <li>CRM</li>

            <li>Корпоративный портал</li>

            <li>Онлайн офис</li>

            <li>Интеграция с другими сервисами и т.д.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
