<section class="order">
  <div class="container">
    <h2 class="page__subtitle nocaps">
      Заявка на подбор и подключение CRM-системы
    </h2>
    <p class="page__aftertitle">
      Проведем аудит, подготовим решение для вашего <br />
      бизнеса и рассчитаем стоимость
    </p>
    <div class="order-wrapper">
      <div class="order-wrapper__content">
        <p class="content-title">Заполните форму</p>
        <p class="content-subtitle">
          Оставьте свои контактные данные, <br />
          мы свяжемся с Вами в течение 20 минут
        </p>

        <div class="content-form">
          <input
            class="input-form"
            type="name"
            name="name"
            autocomplete="off"
            required
            placeholder="Имя"
          />

          <input
            class="input-form"
            type="text"
            name="phone"
            autocomplete="off"
            placeholder="Телефон"
          />

          <div class="drop-box">
            <div class="input-form dropdown-toggle">
              <span> Выберите услугу </span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="15"
                viewBox="0 0 25 15"
                fill="none"
              >
                <path
                  d="M12.5 14.016L0 0.682617H25L12.5 14.016Z"
                  fill="white"
                />
              </svg>
            </div>

            <ul class="order-wrapper__content__dropdown dropdown">
              <li>Подключение</li>
              <li>Подключение + настройка</li>
              <li>Продление лицензий amoCRM или Битрикс24</li>
            </ul>
          </div>

          <button class="order-wrapper__button main-button">
            ОТПРАВИТЬ ЗАЯВКУ
          </button>
        </div>
      </div>
      <div class="order-wrapper__img">
        <div class="img-wrap">
          <picture>
            <source
              class="lazy"
              data-src="images/order-img.webp"
              type="image/webp"
            />
            <img class="lazy" data-src="images/order-img.png" alt="Заявка" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
