<section class="partner">
  <div class="container">
    <h2 class="page__subtitle caps">НАШ ПАРТНЁР ПО CRM-СИСТЕМАМ</h2>
    <div class="partner-wrapper">
      <ul class="partner-wrapper__content">
        <li>
          <span> Битрикс24 (Управление бизнесом)</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="21"
            height="20"
            viewBox="0 0 21 20"
            fill="none"
          >
            <path
              d="M12.3478 1.26465L19.2778 10.0146M19.2778 10.0146L12.3478 18.7646M19.2778 10.0146L1.45776 10.0146"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </li>

        <li>
          <span> amoCRM (Управление бизнесом) </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="21"
            height="20"
            viewBox="0 0 21 20"
            fill="none"
          >
            <path
              d="M12.3478 1.26465L19.2778 10.0146M19.2778 10.0146L12.3478 18.7646M19.2778 10.0146L1.45776 10.0146"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </li>
      </ul>
      <div class="partner-wrapper__img img-wrap">
        <picture>
          <source
            class="lazy"
            data-src="images/partner-img.webp"
            type="image/webp"
          />
          <img class="lazy" data-src="images/partner-img.png" alt="партнер" />
        </picture>
      </div>
    </div>
  </div>
</section>
