<section class="system">
  <div class="container">
    <div class="system-forms">
      <div class="system-forms__wrapper">
        <div class="system-forms__title">
          <h2>Оставить заявку</h2>
          <p>
            Выберите систему для вашего бизнеса, и мы свяжемся с Вами в течение
            20 минут
          </p>
        </div>

        <input
          class="input-form"
          type="name"
          name="name"
          autocomplete="off"
          required
          placeholder="Ваше имя"
        />

        <input
          class="input-form"
          type="text"
          name="phone"
          autocomplete="off"
          placeholder="Телефон"
        />
        <div class="drop-box">
          <div class="input-form dropdown-toggle">
            <span> Выберите систему </span>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="12"
              viewBox="0 0 20 12"
              fill="none"
            >
              <path
                d="M19.3679 2.48464L10.5025 11.3765C10.3969 11.482 10.2826 11.5569 10.1594 11.6013C10.0363 11.6456 9.90439 11.6674 9.76367 11.6667C9.62295 11.6667 9.49102 11.6445 9.36789 11.6002C9.24476 11.5559 9.13042 11.4813 9.02488 11.3765L0.133065 2.48464C-0.113197 2.23838 -0.236328 1.93055 -0.236328 1.56116C-0.236328 1.19177 -0.104402 0.875144 0.15945 0.611292C0.423302 0.34744 0.73113 0.215513 1.08293 0.215513C1.43474 0.215513 1.74256 0.34744 2.00642 0.611292L9.76367 8.36855L17.5209 0.611292C17.7672 0.36503 18.0708 0.241899 18.4317 0.241899C18.7927 0.241899 19.1047 0.373824 19.3679 0.637676C19.6317 0.901528 19.7637 1.20936 19.7637 1.56116C19.7637 1.91296 19.6317 2.22079 19.3679 2.48464Z"
                fill="white"
              />
            </svg>
          </div>

          <ul class="system-forms__dropdown dropdown">
            <li>amoCRM</li>
            <li>Битрикс24</li>
            <li>Нужна помощь в выборе</li>
          </ul>
        </div>

        <textarea
          class="input-form"
          rows="4"
          name="text"
          placeholder="Напишите что вас интересует, например: Покупка лицензии amoCRM"
        ></textarea>

        <button class="system-forms__button main-button">
          ОТПРАВИТЬ ЗАЯВКУ
        </button>
      </div>
    </div>
  </div>
</section>
