@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style-type: none;
}

img:not([src]):not([srcset]) {
  visibility: hidden;
}

picture {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #000;
}

.container {
  max-width: calc(1500px + 10px * 2);
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 640px) {
    padding: 0 10px;
    width: 100%;
  }
}

.img-wrap {
  img {
    max-width: 100%;
  }
}

%pb {
  padding-bottom: 75px;

  @media (min-width: 641px) {
    padding-bottom: 120px;
  }
}

@import "./components/header";

.pagecrm_bg-1 {
  @media (max-width: 640px) {
    padding-top: 75px;
    background: url("../docs/images/pagecrm_bg-1.webp") no-repeat center;
    background-position: top center;
    background-size: cover;
  }

  @media (min-width: 641px) {
    padding-top: 75px;
    background: url("../docs/images/pagecrm_bg-1-2x.webp") no-repeat center;
    background-position: top center;
    background-size: cover;
  }

  @import "./components/hero";
  @import "./components/features";
}

.main-button {
  padding: 20px 15px;
  max-width: 301px;
  width: 100%;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

  background: linear-gradient(#745ebf, #745ebf) padding-box,
    linear-gradient(
        219.52deg,
        #59f8d2 7%,
        rgba(116, 223, 221, 0.43) 28.48%,
        rgba(161, 180, 239, 0.54) 64.29%,
        rgba(202, 142, 255, 0.55) 96.31%
      )
      border-box;

  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: 0px 0px 10px 0px rgba(215, 149, 255, 1);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  @media (max-width: 991px) {
    font-size: 14px;
    width: 100%;
    padding: 10px;
    max-width: calc(209px - 20px);
    line-height: 16.2px;
  }

  &:hover {
    box-shadow: 0px 0px 20px 0px rgba(139, 255, 255, 1);
  }
}

.question-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 10px;
  text-transform: uppercase;

  white-space: nowrap;
  font-family: Play;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.14px;
  letter-spacing: -0.01em;
  text-align: left;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px 20px;
  box-sizing: content-box;
  border: 2px solid transparent;
  background: linear-gradient(rgba(30, 0, 68, 1), rgba(30, 0, 68, 1))
      padding-box,
    linear-gradient(to right, #383fec, #23ffff) border-box;
  backdrop-filter: blur(50px);
  max-width: 212px;
  width: 100%;

  box-shadow: 0px 0px 3.15px 0px rgba(162, 45, 247, 0.1),
    0px 0px 6.52px 0px rgba(162, 45, 247, 0.1),
    0px 0px 13px 0px rgba(162, 45, 247, 0.1),
    0px 0px 25.48px 0px rgba(162, 45, 247, 0.1),
    0px 0px 46.85px 0px rgba(162, 45, 247, 0.1),
    0px 0px 19px 9px rgba(162, 45, 247, 0.1);

  &:hover {
    box-shadow: 0px 0px 3.14815px 0px rgba(162, 45, 247, 0.1),
      0px 0px 6.51852px 0px rgba(162, 45, 247, 0.1),
      0px 0px 13px 0px rgba(162, 45, 247, 0.1),
      0px 0px 25.48148px 0px rgba(162, 45, 247, 0.1),
      0px 0px 46.85185px 0px rgba(162, 45, 247, 0.1),
      0px 0px 19px 9px rgba(162, 45, 247, 0.1), 0px 0px 20px 0px #29d9ff !important;
  }

  svg {
    flex-shrink: 0;
  }
}

.page__subtitle {
  font-family: Play;
  font-weight: 700;

  letter-spacing: -0.02em;
  text-align: center;

  font-size: 45px;

  @media (max-width: 640px) {
    line-height: 30px;
  }

  &.caps {
    text-transform: uppercase;
    @media (max-width: 640px) {
      font-size: 20px;
    }
  }

  &.nocaps {
    @media (max-width: 640px) {
      font-size: 24px;
    }
  }
}
